*~
*.class
*.exe
*.exe.mdb
*.htm
*.iml
*.jar
*.log
*.tif
*.zip
*.tfw
*.tmp*
app/release
bin
build
captures
cureffdate
decosects/charts
decosects/datums
decosects/oldcharts
decosects/olddatums
decosects/ReadArptDgmPng_learnt.png
decosects/trimeuroiappng
.DS_Store
.gradle
.idea
local.properties
machine_*.rej
machine_*.csv
maketopodatafiles
purged-*
readoneline
streets
trash
