*~
*.class
*.exe
*.exe.mdb
*.htm
*.jar
*.log
*.tif
*.zip
*.tfw
*.tmp*
app/build
bin
build
charts
cureffdate
datums
decosects/ReadArptDgmPng_learnt.png
.gradle
.idea/workspace.xml
machine_*.rej
machine_*.csv
purged-*
readoneline
streets
trash
