<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.outerworldapps.wairtonow"
	android:versionCode="31003"
	android:versionName="3.10.3">

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name="AcraApplication"
		android:theme="@style/NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name=".WairToNow"
			android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenLayout|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
